header{
    position: relative;
    min-height: 100vh;
    text-align: center;
    color: $color2;
    .container{
        @include center;
        flex-direction: column;
        min-height: 100vh;
        h1{
            font-family: $font1;
            font-size: 6rem;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 3px;
            @media screen and (max-width: 865px) {
                font-size: 4rem;
            }
            @media screen and (max-width: 500px) {
                font-size: 3.7rem;
            }
        }
        p{
            font-weight: none;
            font-style: italic;
            font-size: 1.4rem;
            margin: 50px auto;
            @media screen and (max-width: 865px) {
                font-size: 1rem;
            }
        }
        i{
            border: 2px solid $color2;
            font-size: 1.4rem;
            padding: 25px 27px;
            border-radius: 100px;
            transition: 0.3s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    nav{
        left: 50%;
        transform: translate(-50%);
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
        width: 90%;
        flex-direction: row;
        background: rgba(238, 238, 238, 0.187);
        height: 80px;
        .main-menu{
            &:hover li:not(:hover) {
                background: none;
                color: $color2;
            }
            display: flex;
            @media screen and (max-width: 1120px){
                width: 100%;
            }
            li {
                @include center;
                min-width: 200px;
                width: 100%;
                text-transform: uppercase;
                font-weight: bold;
                transition: 0.3s;
                @media screen and (max-width: 680px){
                    min-width: 110px;
                    p{
                        font-size: 0.7rem;
                        margin: 0 30px;
                    }
                }
                &:first-child{
                    background: $color2;
                    color: $color3;
                    font-weight: 600;
                }
                &:hover{
                    background: $color2;
                    color: $color3;
                    font-weight: 600;
                }
            }
        }
        .reseau-menu{
            display: flex;
            @media screen and (max-width: 1120px){
                display: none;
            }
            li{
                @include center;
                min-width: 100px;
                i{
                    font-size: 1.4rem;
                    transition: 0.3s;
                    &:hover{
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
}