@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
    font-family: "MerryweatherLight";
    src: url("../fonts/Merriweather-Light.ttf");
}

$font1: "Inter", sans-serif;
$font2: "MerryweatherLight", sans-serif;
$color1: rgb(157, 157, 157);
$color2: rgb(249, 249, 249);
$color3: rgb(40, 40, 40);

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
a,a:visited{
    color: $color2;
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: url("../img/bg.jpg") center/cover fixed;
    font-family: $font2;
}

ul{
    list-style-type: none;
}

.button{
    padding: 18px 40px;
    background: transparent;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: $font1;
    font-size: 1rem;
    transition: 0.3s;
    cursor: pointer;
    @media screen and (max-width: 750px){
        font-size: 0.8rem;
        padding: 14px 31px;
    }
    &:hover{
        background: $color3;
        color: $color2;
    }
}

.title{
    color: rgb(122, 118, 118);
    font-weight: bold;
    font-family: $font1;
    text-transform: uppercase;
}
